/* ScoreTable.css */

.scoreboard-container {
  padding: 2rem;
  background-color: #0f0f0f;
  min-height: 100vh;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.scoreboard-container h2 {
  color: #8b5cf6;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.score-table {
  max-width: 700px;
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.score-table th {
  text-align: left;
  padding: 1rem;
  color: #ddd;
  font-size: 1.1rem;
  background-color: #1f1f1f;
  border-bottom: 1px solid #333;
}

.score-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: #1a1a1a;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.score-row:hover {
  background-color: #292929;
  transform: scale(1.01);
}

.score-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.score-delete-btn {
  /* background-color: #ff4d4d; */
  border: none;
  color: #e60000;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.score-delete-btn:hover {
  background-color: #e60000;
  color: whitesmoke;
}

.high-score-banner {
  margin-bottom: 16px;
  padding: 5px;
  color: #f8d64e;
  font-size: 1.2rem;
  border-radius: 8px;
  text-align: center;
}
