/* General body styling */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /*background: linear-gradient(to right, #e0f7fa, #f0f4ff); /* light gradient */
}

/* App container */
.app {
  text-align: center;
  padding-top: 80px; /* Adjust this based on navbar height */
}


/* Header styles. Reusable header */
 .header {
  padding: 2rem;
  /* Putting header in center using flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: whitesmoke; /* dark text */
}

 .header h1 span{
  color: #4f46e5;
}

 .header p {
  font-size: 1.1rem;
  color: whitesmoke; /* muted description text */
}


/* Snake and Mario game styling */
 .custom-header p span{
  color: red;
}
 .custom-header h1 span.sorry{
  color: red;
}

 .custom-header {
  height: 550px;
 }
