#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* *{
  background-image: url(/Images/bg_image.jpg);
  background-size: cover;
  background-position: center;

} */


 /* .footer {
  background-image: url('/images/footer-bg.jpg?v=1') !important;
} */
